
#cartoon {
    position: relative;
    transform: scale(.5);
}
#turkey {
    position: absolute;
    left: 370px;
    top: 320px;
    animation-name: dance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes dance {
    0%   {top: 320px;}
    50%	 {top: 360px;}
    100% {top: 320px;}
}
#head {
    position: absolute;
    height: 300px;
    width: 350px;
    z-index: 1;
    border: 3px solid black;
    background-color:#732000;
    border-radius: 50%;
    box-shadow:inset -55px 0 4px 5px #4E1D01;
}
.eye {
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 1;
    border: 3px solid black;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #2B2B2B, purple);
    top: 80px;
    color: #2B2B2B
}
#left_eye {
    left: 70px;
}
#right_eye {
    left: 180px;
}
#brim {
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 155px;
    top: 100px;
}
#beak {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 160px solid orange;
    border-radius: 50%;
    z-index: 3;
    top: 170px;
    left: 125px;
}
#gobbler {
    position: absolute;
    height: 100px;
    width: 60px;
    background-color: red;
    border-radius: 0 100% 50% 80%;
    top: 200px;
    left: 210px;
    transform: rotate(-15deg);
}
.feather {
    position: absolute;
    width: 600px;
    height: 70px;
    border: 3px solid black;
    background-color: orange;
    background-image: linear-gradient(to right, yellow, red, brown);
    border-radius: 500% 200% 200% 500%;
    z-index: -5
}
.feather:nth-of-type(2) {
    transform: rotate(-15deg);
    left: -350px;
    top: 500px;
}
.feather:nth-of-type(3) {
    transform: rotate(-5deg);
    left: -370px;
    top: 410px;
}
.feather:nth-of-type(4) {
    transform: rotate(5deg);
    left: -370px;
    top: 320px;
}
.feather:nth-of-type(5) {
    transform: rotate(15deg);
    left: -370px;
    top: 230px;
}
.feather:nth-of-type(6) {
    transform: rotate(30deg);
    left: -340px;
       top: 135px;
}
.feather:nth-of-type(7) {
    transform: rotate(45deg);
    left: -268px;
    top: 85px;
}
.feather:nth-of-type(8) {
    transform: rotate(70deg);
    left: -195px;
    top: 35px;
}
.feather:nth-of-type(9) {
    transform: rotate(85deg);
    left: -125px;
    top: 15px;
}
.feather:nth-of-type(10) {
    transform: rotate(100deg);
    left: -40px;
    top: 0px;
}
.feather:nth-of-type(11) {
    transform: rotate(115deg);
    left: 50px;
    top: 35px;
}
.feather:nth-of-type(12) {
    transform: rotate(135deg);
    left: 170px;
    top: 45px;
}
.feather:nth-of-type(13) {
    transform: rotate(150deg);
    left: 290px;
    top: 95px;
}
.feather:nth-of-type(14) {
    transform: rotate(165deg);
    left: 370px;
    top: 195px;
}
.feather:nth-of-type(15) {
    transform: rotate(170deg);
    left: 370px;
    top: 290px;
}
.feather:nth-of-type(16) {
    transform: rotate(185deg);
    left: 370px;
    top: 410px;
}
.feather:nth-of-type(17) {
    transform: rotate(195deg);
    left: 350px;
    top: 510px;
}
.feather_line {
    top: 32px;
    position: absolute;
    width: 530px;
    left: 120px;
    z-index: 10;
    border: 3px solid black;
    background-color: black;
    border-radius: 50%;
}
#body {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 500px;
    border: 3px solid black;
    background-color:#732000;
    border-radius: 50%;
    box-shadow:inset -55px 0 4px 5px #4E1D01;
}
.thighs {
    position:absolute;
    height: 200px;
    width: 40px;
    background-color: orange;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#right_thigh {
    top: 480px;
    left: 350px;
    transform: rotate(-45deg);
    animation-name: rightBend;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rightBend {
    0%   {top:480px; left:350px;}
    50%  {top:490px; left:435px;}
    100% {top:480px; left:350px;}
}
#left_thigh {
    top: 480px;
    left: 115px;
    transform: rotate(45deg);
    animation-name: leftBend;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes leftBend {
    0%   {top:480px; left:115px;}
    50%  {top:490px; left:35px;}
    100% {top:480px; left:115px;}
}
.shins {
    position:absolute;
    height: 200px;
    width: 40px;
    background-color: orange;
    z-index: -2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#right_shin {
    top: 615px;
    left: 385px;
    transform: rotate(15deg);
    animation-name: rightBend2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rightBend2 {
    0%  {transform: rotate(15deg); top:615px; left:385px;}
    50%  {transform: rotate(50deg); top:600px; left:430px;}
    100% {transform: rotate(15deg); top:615px; left:385px;}
}
#left_shin {
    top: 615px;
    left: 80px;
    transform: rotate(-15deg);
    animation-name: leftBend2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes leftBend2 {
    0% {transform: rotate(-15deg); top:615px; left:80px;}
    50%  {transform: rotate(-50deg); top:600px; left:40px;}
    100% {transform: rotate(-15deg); top:615px; left:80px;}
}
.feet {
    position:absolute;
    top: 1040px;
    height: 150px;
    width: 40px;
    background-color: orange;
    z-index: -2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: rotate(90deg);
}
#right_foot {
    left: 790px;
}
#left_foot {
    left: 415px;
}
.note {
    position:absolute;
    width: 60px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    top: 700px;
    left: 560px;
    z-index: -5;
}
#note1 {
    animation-name: music;
    animation-duration: 2.75s;
    animation-iteration-count: infinite;
}
@keyframes music {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:1405px;}
}
#note2 {
    animation-name: music2;
    animation-duration: 3.25s;
    animation-iteration-count: infinite;
}
@keyframes music2 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:-100px;}
}
#note3 {
    animation-name: music3;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes music3 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:785px;}
}
#note4 {
    animation-name: music4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes music4 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:1600px;}
}
#note5 {
    animation-name: music5;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes music5 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:-385px;}
}
#note6 {
    animation-name: music6;
    animation-duration: 2.25s;
    animation-iteration-count: infinite;
}
@keyframes music6 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:-685px;}
}
#note5 {
    animation-name: music7;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes music7 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:-75px;}
}
#note5 {
    animation-name: music8;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
}
@keyframes music8 {
    0%   {top:700px; left:560px;}
    100% {top:-300px; left:-815px;}
}
.note_stem {
    position: absolute;
    width: 8px;
    height: 160px;
    background-color: #000;
    top: -140px;
    left: 51px;
}
.note_stem2 {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #000;
    top: -145px;
    left: 51px;
}